
.simple-bulk-check h2 {
    display: inline-block;
}

.simple-bulk-check #file_info,
.simple-bulk-check #the_form {
    display: inline-block;
    margin-left: 35px;
}
.simple-bulk-check table td:last-child,
.simple-bulk-check table th:last-child{
    width:160px;
}

th#verifiy-result {
    padding: 0;
}

div#check-selectedbutton {
    padding: 8px;
    background-color: darkseagreen;
    padding-left: 12px;
    border-radius: 4px;
    cursor: pointer;
}

.simple-bulk-check table td:first-child
.simple-bulk-check table th:first-child{
    width:40px;
}
.simple-bulk-check table {
    margin-top: 12px;
}

div#list {
    display: inline-block;
}

div.legend,
td[class^="group-id"] {
    background-color: aliceblue;
}

div.legend {
    display: inline-block;
    height: 16px;
    width: 16px;
}

@media only screen and (min-width: 1600px) {
    img.explain {
        max-width: 50%;
    }
}

img.explain {
    max-width: 46%;
    margin: 1%;
}

input#filterlist {
    float: right;
    width:200px;
}

.group-id-1 { filter: brightness(100%); }
.group-id-2 { filter: brightness(96%); }
.group-id-3 { filter: brightness(92%); }
.group-id-4 { filter: brightness(88%); }
.group-id-5 { filter: brightness(84%); }
.group-id-6 { filter: brightness(80%); }
.group-id-7 { filter: brightness(76%); }
.group-id-8 { filter: brightness(72%); }
.group-id-9 { filter: brightness(68%); }
.group-id-10 { filter: brightness(72%); }