
.simple-bulk-check h2 {
    display: inline-block;
}

.simple-bulk-check #file_info,
.simple-bulk-check #the_form {
    display: inline-block;
    margin-left: 35px;
}
.simple-bulk-check table td:last-child,
.simple-bulk-check table th:last-child{
    width:160px;
}

th#verifiy-result {
    padding: 0;
}

div#check-selectedbutton {
    padding: 8px;
    background-color: darkseagreen;
    padding-left: 12px;
    border-radius: 4px;
    cursor: pointer;
}

.simple-bulk-check table td:first-child
.simple-bulk-check table th:first-child{
    width:40px;
}
.simple-bulk-check table {
    margin-top: 12px;
}

td[class^="group-id"] {
    background-color: aliceblue;
}

.group-id-1:hover + .group-id-1 {
    background-color: #000;
}
.group-id-1 {
    filter: brightness(89%);
}
.group-id-2:hover {
    background-color: #5F8E14;
}
.group-id-2 {
    filter: brightness(86%);
}
.group-id-3:hover {
    background-color: #5F8E14;
}
.group-id-3 {
    filter: brightness(83%);
}
.group-id-4:hover {
    background-color: #5F8E14;
}
.group-id-4 {
    filter: brightness(82%);
}
.group-id-5:hover {
    background-color: #5F8E14;
}
.group-id-5 {
    filter: brightness(79%);
}
.group-id-6:hover {
    background-color: #5F8E14;
}
.group-id-6 {
    filter: brightness(76%);
}
.group-id-7:hover {
    background-color: #5F8E14;
}
.group-id-7 {
    filter: brightness(73%);
}
.group-id-8:hover {
    background-color: #5F8E14;
}
.group-id-8 {
    filter: brightness(70%);
}
.group-id-9:hover {
    background-color: #5F8E14;
}
.group-id-9 {
    filter: brightness(50%);
}
.group-id-10:hover {
    background-color: #5F8E14;
}
.group-id-10 {
    filter: brightness(50%);
}